<article>
  <h1>Contact</h1>
  <p>Should you wish to contact <em>OnlineShop</em>, please use the following contact information.</p>
  <section class="row contact-info" aria-label="Informations de contact">
    <div class="col">
      <i class="fa fa-mobile fa-5x"></i><br>
      <a href="tel:##########">(###) ###-####</a>
    </div>
    <div class="col">
      <i class="fa fa-map-marker fa-5x"></i>
      <p class="address">
        2900, boul. Édouard-Montpetit<br>
        Montréal (Québec)<br>
        H3T 1J4
      </p>
    </div>
    <div class="col">
      <i class="fa fa-envelope fa-5x"></i><br>
      <a href="mailto:onlieshop@polymtl.ca">onlineshop@host.ca</a>
    </div>
  </section>
</article>
